*{
    margin:0;
    padding:0;
    
}

aside{
    position:absolute;
    left:-300px;
    width:300px;
    height:100%;
    background-color:black;
    transition:1s;
}
aside.active{
    left:0;
}

.burger{
    position:absolute;
    display:block;
    right:15px;
    top:15px;
    cursor:pointer;
    
    width:50px;
    height:35px;
    
}

.button1{
    position:relative;
    top:15px;
    border-top:10px solid black;
    font-size:40px;
    transition:.2s linear;
   
    
    
}

.button1::before, .button1::after{
    content:"";
    position:absolute;
    border-top:10px solid black;
    top:50px;
    width:100%;
    top:0px;
    left:0px;
    
}
.button1::before{
    top:-25px;
    transition:.5s linear;

}

.button1::after{
    top:5px;
    transition:.5s linear;
}


/* dssdds */
.button1.active{
    border-top:10px solid transparent;
    
   
    
}
.button1.active::before{
    top:-10px;
    transform:rotate(45deg);
    
}
.button1.active::after{
    top:-10px;
    transform:rotate(-45deg);
    
}


